@model HRMSmvcCRUD.Models.Employee

<td>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ecode }) |
    @Html.ActionLink("Details", "Details", new { id = Model.Ecode }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Ecode })
</td>
